#textwise_suggestions {
	padding-bottom: 10px;
	clear: both;
}

#textwise_suggestions .bottomleft { float: left; }
#textwise_suggestions .bottomright { float: right; }

#textwise_suggestions .tw_itemrow td {
	padding-bottom: 10px;
}

#textwise_suggestions .tw_imagecell {
	padding-right: 20px;
	text-align: center;
}

#textwise_suggestions .tw_products img { }

#textwise_suggestions .tw_products span.title {
	display: block;
	font-size: 1.2em;
	font-style: italic;
	font-weight: bold;

}
#textwise_suggestions .tw_products span.source {
	display: block;
}
#textwise_suggestions .tw_products span.description {
	display: block;
}

#textwise_suggestions .forceleft { text-align: left; }
